# Файлы объектов
*.o
*.ko
*.obj
*.elf

# Файлы временных данных
*.mod.c
*.mod
*.symvers
*.order

# Файлы конфигурации
.config*
*~

# Файлы журналов и отладки
*.dwo
*.dwp

# Файлы сборки
Kbuild

# Другие файлы
tags
*.cmd